/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a:hover{
	cursor: pointer;
	text-decoration: none;
}

.search-result {
	margin: 50px 0;
}

.about-us-page .search-result .button-container a {
    background-color: #cf0f40;
    color: white;
    display: inline-block;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    padding: 18px 35px 18px 45px;
    text-decoration: none;
    transition: opacity 0.3s ease 0s;
}

.about-us-page .search-result .button-container a:hover{
	opacity: 0.7;
}
.about-us-page .search-result .button-container{
	margin-bottom: 32px;
    margin-top: 48px;
    text-align: center;
}

nav{
	box-shadow: none !important;
}
