<!--Footer Start-->
<footer>
  <div class="container main-footer">
    <div class="row">
        <div class="col-md-8 no-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 border">
                <div class="newsletter-container">
                    <div class="title-container">Newsletter</div>
                    <div class="join-wrapper">
                        <input class="newsletter_input" placeholder="Enter Email" type="email">
                        <button class="join-button sf">Join</button>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 border">
                <div class="connect-wrapper">
                    <div class="title-container">Connect with us</div>
                    <ul class="buttons-list sf">
                        <li><a class="social-twitter" href="#"></a></li>
                        <li><a class="social-facebook" href="#"></a></li>
                        <li><a class="social-google" href="#"></a></li>
                        <li><a class="social-instagram" href="#"></a></li>
                        <li><a class="social-rss" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-4 border-right">
                <div class="costumer-service-wrapper">
                    <div class="title-container">CUSTOMER SERVICES</div>
                    <div class="col-md-6">
                       <a href="#">FAQs</a>
                       <a href="#">Order Status</a>
                       <a href="#">How It Works</a>
                    </div>
                    <div class="col-md-6">
                       <a href="#">FAQs</a>
                       <a href="#">Order Status</a>
                       <a href="#">How It Works</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-4 border-right">
                <div class="about-us-wrapper">
                    <div class="title-container">ABOUT US</div>
                    <div class="col-md-6">
                        <a href="#">FAQs</a>
                        <a href="#">Order Status</a>
                        <a href="#">How It Works</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">FAQs</a>
                        <a href="#">Order Status</a>
                        <a href="#">How It Works</a>
                    </div>
                </div>
            </div>

          <!--Find Us wrapper only for mobile -->
          <div class="col-md-4 col-sm-4 col-xs-4 find-us-container hidden-lg hidden-md">
            <div class="find-us-wrapper">
              <div class="title-container">Finds Us</div>
              <ul class="find-us-list">
                <li class="location">
                    <span class="find-location sf"></span>
                    <div class="text-container">50 Francisco St. #118 <br>San Francisco, CA 94133</div>
                </li>
                <li class="phone">
                    <span class="find-phone sf"></span>
                    <div class="text-container">(866) 211 3111</div>
                </li>
                <li class="email">
                    <span class="find-email sf"></span>
                    <div class="text-container"><a href="mailto:SF@10bestnetwork.com">SF@10best<br>network.com</a></div>
                </li>
              </ul>
            </div>
          </div>
          <!--end of Find us for mobile-->
        </div>
      <div class="col-md-4 col-sm-4 col-xs-4 hidden-sm hidden-xs">
        <div class="find-us-wrapper">
          <div class="title-container">Finds Us</div>
          <ul class="find-us-list">
            <li class="location">
                <span class="find-location sf"></span>
                <div class="text-container">50 Francisco St. #118 <br>San Francisco, CA 94133</div>
            </li>
            <li class="phone">
                <span class="find-phone sf"></span>
                <div class="text-container">(866) 211 3111</div>
            </li>
            <li class="email">
                <span class="find-email sf"></span>
                <div class="text-container"><a href="mailto:SF@10bestnetwork.com">SF@10bestnetwork.com</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-container">
          10 Best Network LLC © <%= DateTime.now.strftime "%Y" %>. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>

 </body>
</html>